<h1>PLAYING WITH FORMS</h1>

<!-- HTML FORM -->
<h2>HTML Style</h2>
<p>This is the standard HTML form formatting</p>
<%= render "shared/html_form" %>
<br/>
<hr/>

<!-- FORM TAG -->
<h2>Form Tag</h2>
<p>This is the "softly deprecated" form tag</p>
<%= render "shared/form_tag" %>
<br/>
<hr/>

<!-- FORM WITH -->
<h2>Form With</h2>
<p>This is the rails form_with tag. This form required adding the #new method in the users_controllers.rb</p>
<%= render "shared/form_with" %>
